body{
	background-color: darkgrey;
}
h1{
	color: white;
}
span{
	color:white;
}

#container{
	max-width:600px; 
	margin:0 auto 0 auto;
}
.square{
	width:30%;
	padding-bottom:30%;
	background: purple;
	float:left;
	margin:1.66%;
}

